<div class="details-section" style="display: flex; justify-content: center; align-items: center; height: 100vh;">
    <div class="container-fluid" style="text-align: center; margin-top: 63px;">
        <img src="{{product.imageUrl}}" class="img-responsive product-img" style="width: 21%; height: 30%; margin-bottom: 33px;">
        <h3 style="color: white; margin-bottom: 21px;">{{product.name}}</h3>
        <div class="price" style="margin-bottom: 16px;">🪙{{product.unitPrice}}</div>
        <!-- <button (click)="addToCart(product)" class="primary-btn">Add to Inventory</button> -->
        <h4 style="color: white; width: 70%; margin-left: 15%; margin-bottom: 160px;">"{{product.description}}"</h4>
    </div>
</div>