<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <!-- loop over the collection of products -->
            <div class="row justify-content-center">
                <div *ngFor="let tempProduct of products" class="col-md-3 mb-4">
                    <div class="product-box text-center">
                        <a routerLink="/products/{{tempProduct.id}}">
                            <img src="{{tempProduct.imageUrl}}" class="img-responsive product-img"
                                style="width: 77%; height: auto;">
                        </a>
                        <a routerLink="/products/{{tempProduct.id}}" class="row" style="text-decoration: none;">
                            <h1 class="modH1">{{tempProduct.name}}</h1>
                        </a>
                        <div class="price">🪙{{tempProduct.unitPrice}}</div>
                        <button (click)="addToCart(tempProduct)" class="primary-btn">Add to Inventory</button>
                    </div>
                </div>
            </div>
            <!-- if product search is empty then display msg -->
            <div *ngIf="products?.length == 0" class="alert alert-warning col-md-12 text-center" role="alert">
                Ain't present in da vault, Try searchin' for somethin' else
            </div>
        </div>
    </div>
</div>